In [29]:
import pandas as pd
import os
import glob
import math
print(glob.glob('.'))

['.']

In [2]:
for file_name in glob.iglob('./MC2-Image-Data/**/*.csv', recursive=True):
    try:
        df = pd.read_csv(file_name)
    except:
        print(file_name)

./MC2-Image-Data\Person26\Person26_6.csv

In [4]:
pd.read_csv('.\MC2-Image-Data\Person1\Person1_1.csv',encoding = "ISO-8859-1")

      x     y  Width  Height    Score           Label
0  1479    11   1922    1583  0.33861        birdCall
1  2554   313    955     888  0.28139         eyeball
2  1855  1724    578    1079  0.34569      pinkCandle
3    14   666   1465    2309  0.42683    pumpkinNotes
4  1560  1301   1197     615  0.32564  blueSunglasses
5    14   464   1775    2268  0.38394       yellowBag

In [16]:
Labels = pd.DataFrame({'Person':[],'Image':[],'Label':[],'Score':[]})
for file_name in glob.iglob('./MC2-Image-Data/**/*.csv', recursive=True):
    personIndex = file_name.split('\\')[-2].replace('Person','')
    df = pd.read_csv(file_name,encoding = "ISO-8859-1")
    img = file_name.split('\\')[-1].split('.csv')[0]
    for index in range(0,df.shape[0]):
        row = df.loc[index]
        label = row['Label']
        Labels = Labels.append({'Person':personIndex,'Image':img,'Label':label,'Score':row['Score']},ignore_index=True)

In [17]:
Labels

     Person      Image           Label    Score
0         1  Person1_1        birdCall  0.33861
1         1  Person1_1         eyeball  0.28139
2         1  Person1_1      pinkCandle  0.34569
3         1  Person1_1    pumpkinNotes  0.42683
4         1  Person1_1  blueSunglasses  0.32564
...     ...        ...             ...      ...
4486      9  Person9_8        hairClip  0.43419
4487      9  Person9_8       yellowBag  0.38954
4488      9  Person9_9        birdCall  0.44903
4489      9  Person9_9         eyeball  0.25527
4490      9  Person9_9  blueSunglasses  0.36897

[4491 rows x 4 columns]

In [18]:
Labels.to_csv('..\..\..\miniChalenge2_2020_ViolinMatrix\src\data\data.csv',index=False)

## True state

In [19]:
for file_name in glob.iglob('./Manual Correction Results/*.csv', recursive=True):
    try:
        df = pd.read_csv(file_name)
    except:
        print(file_name)

In [31]:
Labels = pd.DataFrame({'Person':[],'Image':[],'Label':[],'Score':[]})
for file_name in glob.iglob('./Manual Correction Results/*.csv', recursive=True):
    personIndex = file_name.split('\\')[-1].replace('Person','').replace('_manual.csv','')
    df = pd.read_csv(file_name,encoding = "ISO-8859-1")
    for index in range(0,df.shape[0]):
        row = df.loc[index]
        img = 'Person'+personIndex+'_'+str(row['Image'])
        for col in df.columns:
            if (col != 'Image'):
                label = row[col]
                try:
                    math.isnan(label)
                except:
                    Labels = Labels.append({'Person':personIndex,'Image':img,'Label':label,'Score':1},ignore_index=True)

In [32]:
Labels

     Person       Image           Label  Score
0        10  Person10_1      partyFavor    1.0
1        10  Person10_1            sign    1.0
2        10  Person10_1     lavenderDie    1.0
3        10  Person10_1       miniCards    1.0
4        10  Person10_1     plaidPencil    1.0
...     ...         ...             ...    ...
1408      9  Person9_22     cactusPaper    1.0
1409      9  Person9_23     cactusPaper    1.0
1410      9  Person9_24     cactusPaper    1.0
1411      9  Person9_25  blueSunglasses    1.0
1412      9  Person9_26        metalKey    1.0

[1413 rows x 4 columns]

In [33]:
Labels.to_csv('..\..\..\miniChalenge2_2020_ViolinMatrix\src\data\data_manualCorrect.csv',index=False)